.todo {
  $toggle-icon-width: 45px;
  margin-top: 2rem;

  width: 100%;

  &__input {
    padding: 1rem;
    padding-left: $toggle-icon-width + 10px;
    width: 100%;

    border: 1px solid rgba($color: $gray, $alpha: 0.5);
    font-size: 1.5rem;

    @include media-laptop() {
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
    }

    &-wrapper {
      box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.15);
      position: relative;
    }
  }

  &__toggle-all-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 6px;

    width: $toggle-icon-width;
    height: $toggle-icon-width;

    background-color: $white;
    border: none;
    border-radius: 0;

    font-weight: 900;
    opacity: 0.2;

    transform: translateY(-50%) rotate(90deg);

    &:hover {
      color: $gray_dark;
      box-shadow: none;
    }

    &_active {
      opacity: 1;
    }
  }

  &__todos-container {
    margin-top: 1.5rem;
  }
}
