@import "./variables.scss";
@import "./header";
@import "./input";
@import "./button";
@import "./todo";
@import "./todo-item";
@import "./alert";
@import "./filters";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 20px;

  @include media-laptop() {
    font-size: 15px;
  }

  @include media-mobile() {
    font-size: 14px;
  }
}

body {
  margin: 0;
  background-color: $background-color;

  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 50%;
  margin: auto;
  padding: 3% 0;

  @include media-laptop() {
    width: 100%;
    padding: 9%;
  }

  @include media-mobile() {
    width: 100%;
    padding: 5%;
  }
}
