$laptop-width: 1024px;
$mobile-width: 480px;

// colors
$background-color: rgb(245, 245, 245);
$crimson: #dd133b;
$white: #ffffff;
$gray: #bdbdbd;
$gray_dark: #5e5e5e;
$green: #1f8d1f;
$black: #000000;

@mixin toggle-pseudoelement {
  content: "✓";
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: $green;
  font-weight: bold;
}

@mixin media-laptop {
  @media screen and (max-width: $laptop-width) {
    @content;
  }
}

@mixin media-mobile {
  @media screen and (max-width: $mobile-width) {
    @content;
  }
}
